.tool-bar {
    padding: 40px;
}
.room-component {
    margin-top: 40px;
    padding: 20px;
}

.room-components {
    padding-left: 20px;
}

button {
    height: 50px;
}

.project-summary {
    margin: 20px 0 40px 0;
}

.project-summary div {
    margin-top: 10px;
}